<%= form_with(model: orden, local: true) do |form| %>
  <% if orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch, id: :orden_branch %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :orden_code %>
  </div>

  <div class="field">
    <%= form.label :start_preparation %>
    <%= form.text_field :start_preparation, id: :orden_start_preparation %>
  </div>

  <div class="field">
    <%= form.label :delivery_time %>
    <%= form.text_field :delivery_time, id: :orden_delivery_time %>
  </div>

  <div class="field">
    <%= form.label :delivery_method %>
    <%= form.text_field :delivery_method, id: :orden_delivery_method %>
  </div>

  <div class="field">
    <%= form.label :delivery_method %>
    <%= form.text_field :delivery_method, id: :orden_delivery_method %>
  </div>

  <div class="field">
    <%= form.label :cash_payment %>
    <%= form.text_field :cash_payment, id: :orden_cash_payment %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal, id: :orden_subtotal %>
  </div>

  <div class="field">
    <%= form.label :taxes %>
    <%= form.text_field :taxes, id: :orden_taxes %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :orden_total %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :orden_status %>
    <%= check_box_tag "clients[]" %>
  </div>


  <div class="field">
    <%= form.label :Cliente %>
    <% @clients.each do |client| %>
      <div>
        <%= check_box_tag "clients[]", client.id %> <%= client.name %>
      </div>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
