<p id="notice"><%= notice %></p>

<h1>Ordens</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Code</th>
      <th>Start preparation</th>
      <th>Delivery time</th>
      <th>Delivery method</th>
      <th>Delivery method</th>
      <th>Cash payment</th>
      <th>Subtotal</th>
      <th>Taxes</th>
      <th>Total</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.branch %></td>
        <td><%= orden.code %></td>
        <td><%= orden.start_preparation %></td>
        <td><%= orden.delivery_time %></td>
        <td><%= orden.delivery_method %></td>
        <td><%= orden.delivery_method %></td>
        <td><%= orden.cash_payment %></td>
        <td><%= orden.subtotal %></td>
        <td><%= orden.taxes %></td>
        <td><%= orden.total %></td>
        <td><%= orden.status %></td>
        <td><%= link_to 'Show', orden %></td>
        <td><%= link_to 'Edit', edit_orden_path(orden) %></td>
        <td><%= link_to 'Destroy', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden', new_orden_path %>
