<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @orden.branch %>
</p>

<p>
  <strong>Code:</strong>
  <%= @orden.code %>
</p>

<p>
  <strong>Start preparation:</strong>
  <%= @orden.start_preparation %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @orden.delivery_time %>
</p>

<p>
  <strong>Delivery method:</strong>
  <%= @orden.delivery_method %>
</p>

<p>
  <strong>Delivery method:</strong>
  <%= @orden.delivery_method %>
</p>

<p>
  <strong>Cash payment:</strong>
  <%= @orden.cash_payment %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @orden.subtotal %>
</p>

<p>
  <strong>Taxes:</strong>
  <%= @orden.taxes %>
</p>

<p>
  <strong>Total:</strong>
  <%= @orden.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @orden.status %>
</p>

<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordens_path %>
